.new-message{
    display: inline-block;
    position: fixed;
    bottom: 0px;
    left: 16em;
}

.message-list {
    height: 100vh;
    width: 100%;
    background-color: rgb(39, 37, 37)
}

.message {
    color: rgb(6, 124, 6);
    padding-top: 1.2em;
}

.message-info {
    text-align: left;
    margin-left: 40px;
}

.time-sent {
    float: right;
    font-weight: 120px;
    font-size: 16px;
    margin-right: 10px
}

.message-content {
    font-size: 16px
}

.username {
    font-size: 18px;
    margin-bottom: 6px;
}

.message-input {
    width: 54em;
    height: 30px;
    font-size: 22px;
}